*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/vcs.xml
.idea/vcs.xml
.idea/caches/build_file_checksums.ser
.idea/.name
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
Docs/*
horoscope_lib/build/*
widgetlib/build/*
LibraryRateMe/build/*
promotion_lib/build/*
walkthrough/build/*
widgetlib/build/*
banner_lib/build/*
contest/build/*
mantra/build/*
youtube/build/*
multicontact/build/*
